.es_caption 
{
	padding-bottom:5px;
	padding-top:5px;
	padding-right:5px;
}
.es_msg 
{
	padding-top:5px;
	padding-bottom:5px;
}
#es_msg_pg_error, #es_msg_error
{
	color: #F00;
}
#es_msg_pg_success, #es_msg_success
{
	color: #0A0;
}
.es_textbox 
{
	padding-bottom:10px;
}
.es_button 
{
	padding-top:10px;
	padding-bottom:5px;
}
.es_textbox_class 
{
	width:200px;
}
.es_textbox_button 
{
	width:100px;
}
.es_lablebox
{
	padding-bottom:3px;
}
.es_modal_container {
	display: none;
	width: 400px;
}
.es_modal_container.show {
	display: block;
}
.es_modal_close {
	top: 1em;
	right: 1em;
}